body {
  font-family: 'Indie Flower', cursive;
}

h1 {
  color: red;
  background-color: white;
  font-size: 40pt;
  text-align: center;
  width: 400px;
  height: 100px;
  margin: 20px auto;
}

h1:hover {
  color: white;
  background-color: red;
  font-size: 40pt;
  text-align: center;
  width: 400px;
  height: 100px;
  margin: 20px auto;
}

img {
  margin: 0 auto;
}

p {
  border: 2px solid red;
  font-size: 24pt;
  padding: 10px;
  text-align: center;
  width: 400px;
  margin: 20px auto;
}
